<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Default Suite">
    <!-- Default Suite -->
    <test name="gitHome">
        <classes>
            <class name="ATDTest.Accessories_MainPage.MainPageTest"/>
        </classes>
    </test>

    <!-- gitHome -->


</suite>